input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body
{
    overflow: hidden;
    position: relative;
}

#question
{
    font-size: 5em;
}

input
{
    text-align:center;
}

/* 470 */

@media only screen and (max-height: 540px) {
    /* For mobile phones: */
    footer 
    {
        visibility: hidden;
    }
  }


.svg-btn {
  width: 50px;      /* or any responsive value like 10% */
  height: 50px;
  padding: 0;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.svg-btn svg {
  display: block;
}