input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body
{
    overflow: hidden;
    position: relative;
}

#question
{
    font-size: 5em;
}

input
{
    text-align:center;
}

/* 470 */

@media only screen and (max-height: 470px) {
    /* For mobile phones: */
    footer 
    {
        visibility: hidden;
    }
  }